h1 {
   font-size: 36px;
}

h2 {
   font-size: 32px;
}

h3 {
   font-size: 24px;
}

p {
   font-size: 18px;
   word-break: break-word;
}

ul {
   padding-left: 16px;
}

li {
   list-style-type: circle;
   list-style-position: inside;
   font-size: 18px;
}

.articles_section_padding {
   padding-bottom: 32px;
}

.breadcumps_link {
   color: #587ab0;
}