footer {
    background-color: #e1e1e1;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
}

.footer_body {
    padding: 50px 0 30px 0;
}

.footer_item {
    height: 100%;
}

.footer_item_title {
    color: #333;
    font-size: 20px;
    padding-bottom: 16px;
}

.footer_item_list {

}

.footer_item_list_link {
    padding-bottom: 8px;
}

.application {
    background-color: white;
    padding: 24px;
}

.footer_form {

}