.container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0px 24px;
    width: 100%;
}
@media (max-width: 524px) {
    .container {
        padding: 0px 12px;
    }
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-container--noGutter>.flex-col {
    padding: 0;
}

.flex-container-column {
    flex-direction: column;
}

.flex-container-space {
    justify-content: space-between;
}

.flex-container-nowrpap {
    flex-wrap: nowrap;
}

.flex-container-center {
    justify-content: center;
}

.flex-container-aling-center {
    align-items: center;
}

.flex-col {
    float: left;
    padding: 0 6px 12px;
}

.flex-col--1 {
    width: 8.333%;
}
.flex-col--2 {
    width: 16.666%;
}
.flex-col--3 {
    width: 25%;
}
.flex-col--4 {
    width: 33.333%;
}
.flex-col--5 {
    width: 41.666%;
}
.flex-col--6 {
    width: 50%;
}
.flex-col--7 {
    width: 58.333%;
}
.flex-col--8 {
    width: 66.666%;
}
.flex-col--9 {
    width: 74.999%;
}
.flex-col--10 {
    width: 83.333%;
}
.flex-col--11 {
    width: 91.666%;
}
.flex-col--12 {
    width: 100%;
}

@media (max-width: 800px) {
    .flex-col--xm1 {
        width: 8.333%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm2 {
        width: 16.666%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm3 {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm4 {
        width: 33.333%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm5 {
        width: 41.666%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm6 {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm7 {
        width: 58.333%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm8 {
        width: 66.666%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm9 {
        width: 74.999%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm10 {
        width: 83.333%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm11 {
        width: 91.666%;
    }
}

@media (max-width: 800px) {
    .flex-col--xm12 {
        width: 100%;
    }
}


@media (max-width: 400px) {
    .flex-col--sm1 {
        width: 8.333%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm2 {
        width: 16.666%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm3 {
        width: 25%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm4 {
        width: 33.333%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm5 {
        width: 41.666%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm6 {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm7 {
        width: 58.333%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm8 {
        width: 66.666%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm9 {
        width: 74.999%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm10 {
        width: 83.333%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm11 {
        width: 91.666%;
    }
}

@media (max-width: 400px) {
    .flex-col--sm12 {
        width: 100%;
    }
}


@media (max-width: 1200px) {
    .flex-col--md1 {
        width: 8.333%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md2 {
        width: 16.666%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md3 {
        width: 25%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md4 {
        width: 33.333%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md5 {
        width: 41.666%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md6 {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md7 {
        width: 58.333%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md8 {
        width: 66.666%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md9 {
        width: 74.999%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md10 {
        width: 83.333%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md11 {
        width: 91.666%;
    }
}

@media (max-width: 1200px) {
    .flex-col--md12 {
        width: 100%;
    }
}